target/
!.mvn/wrapper/maven-wrapper.jar

.git/
.gitignore
.gitattributes

.idea/
.vscode/
*.iml

docs/
README.md
CLAUDE.md
HELP.md

docker/
compose.yaml
Dockerfile
.dockerignore
.env
.env.*

**/*.log
.DS_Store
